* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

.calcWrapper {
    margin: auto;
    width: 320px;
    padding: 32px;
    margin-top: 64px;
    border-radius: 16px;
    padding: 10px;
    background-color: rgb(117, 116, 116);
}